@use '../../scss/abstracts/' as *;

.containerlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  margin-right: -8px;
  background-color: $color4;
  width: 100%;
  height: 100vh;
  max-width: 630px;
}

.backgroundimage {
  position: absolute;
  left: 0;
  top: 0;
  width: 68%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.logo {
  width: 302px;
  height: 302px;;
}

.containerloginscreen {
  width: 100%;
  display: flex;
  justify-content: right;
}

.limitedcontainer {
  width: 100%;
  max-width: 498px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titlelogin {
  @include text-style-paragraph-2;
  color: $color-blue-400;
  margin-bottom: 1.4rem;
}
