@use '../../scss/abstracts/' as *;

.input {
  margin: 5px 0;
  line-height: 21px;
}

.titleuser{
  margin-bottom: .0px;
  margin-left: 8px;
  @include text-style-paragraph-0;
}

.titlelogin {
  @include text-style-paragraph-0;
}

.userform {
  width: 100%;
}
